@import url(../fonts/futura/stylesheet.css);

/* Small devices (tablets, 768px and up) */
@media (min-width: 1px) { 
	#header h1{
		font-size: 4em;
	}

	#video iframe{
		width: 100%;
	}

	.text-large{
		font-size: 1em;
	}
}

@media (min-width: 992px) { 
	#header{
		font-size: 2em;
	}

	#links img{
		width: 122px;
		height: 122px;
	}

	#video iframe{
		height: 500px;
	}

/*
	#links img{
		background: #fefefe;
		border-radius: 5px;
		padding: 10px;
		box-shadow: 0 0 10px black;
	}*/

	.text-large{
		font-size: 3em;
	}

}

body{
	background: #000;
}

#content {
	color: #fff;
}

#header h1{
	font-family: futuramedium;
}

#media > .row{
	margin-bottom: 50px;
}

#links img{
	margin-bottom: 50px;
}


#content > div{
	margin-bottom: 50px;
}

.text-large{
	font-family: futuramedium;
}

#dates .table td{
	border-color: #333;
}

#dates .table tr:hover {
	background-color: #111;
}
