html, body, #content{
	margin: 0;
	height: 100%;
}

#header{
	height: 100px;
	text-align: right;
	font-family: Chango;
	font-size: 5em;
}

#video{
	position: relative;
	background: #ddd;
	border-radius: 5px;
	padding: 10px;
	height: 600px;
	width: 800px;
	left: 50%;
	margin-left: -390px;
	margin-top: 100px;
	box-shadow: 0 0 10px black;
}

#content > .nav a{
	padding: 20px;
	font-size: 2em;
	text-decoration: none;
	font-family: 'Exo 2';
}

#content > .nav a:hover{

}